/* navbar.css */
.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #1e1e2f;
  border-radius: 10px;

  //padding: 10px;
  margin-bottom: 8px;
}

a {
  transition: all 0.4s ease;
  color: #ffffff;

  &:hover {
    scale: 1.05;
  }
}

.left {
  flex: 1; /* Let the left section take up available space */
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 50px;
}

.right {
  flex: 1; /* Let the right section take up available space */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right a {
  padding: 12px 24px;
  margin: 0; /* Remove margin from the right section anchor tags */
}
